<div class="backdrop full-height">
    <div class="main">
        <p class="sign center">Sign in</p>
        <form class="form1" action="">
            <input class="un center" type="text" [(ngModel)]="user_login" name="username" placeholder="Username">
            <input class="pass center" type="password" [(ngModel)]="user_password" name="password" placeholder="Password">
            <a class="submit center" (click)="login()">Sign in</a>
            <p class="forgot center" ><a href="#">Forgot Password?</a></p>
        </form>
    </div>
</div>
<router-outlet></router-outlet>