<home-page-hero></home-page-hero>
<app-info-container></app-info-container>
<div class="container-fluid bg bg-light pb-5">
    <div class="container mt-5 ">
        <h2 class="pull-center pt-5 pb-5">Headphones You will love</h2>
        <product-list></product-list>
    </div>
</div>
<div class="container-fluid p-5">
    <contact-us [backdropColor]="''"></contact-us>
</div>

<div class="container-fluid p-5 bg bg-dark">
    <div class="container">
        <image-carousal></image-carousal>
    </div>
</div>
<div class="container-fluid p-5 bg bg-light">
    <div class="row">
        <div class="col">
            <text-carousal></text-carousal>
        </div>
    </div>
</div>
<div class="container-fluid p-3" style="background-color: #EFB64F;">
    <bs-footer-socialmedia></bs-footer-socialmedia>
</div>
