<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <p class="quote pull-center"> Injustice Anywhere is threat to justice everywhere.</p>
        <p class="pull-right">- MKL Jr</p>
      </div>
      <div class="carousel-item">
        <p class="quote pull-center"> Eye for an eye will make the entire world blind.</p>
        <p class="pull-right">- Gandhi</p>
      </div>
      <div class="carousel-item">
        <p class="quote pull-center"> Religion is the opium of the masses.</p>
        <p class="pull-right">- Karl Marks</p>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>