<div class="container-fluid" style="background-color: teal; height: 30%;">
    <div class="row pt-5">
        <div style="padding-top: 5%;" class="col pull-center">
            <div style="z-index: 5;" class="card text-center scale-40 pull-center">
                <div class="card-header">
                  {{currentDate}}
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    <b>Unix Time</b>  {{currentDate.getTime()}}
                </div>
              </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="col p-5">
            <p> <span style="font-weight: bold; font-size: 20px; color: teal">Unix Time</span> also known as Epoch time is a system for describing a point in time. It is the number of seconds that have elapsed since the Unix epoch, minus leap seconds; the Unix epoch is 00:00:00 UTC on 1 January 1970 (an arbitrary date). </p>
        </div>
    </div>
</div>