<div class="p-1 pull-center" style="color: white">
    <div class="row">
        <div class="col">
            <button (click)="scrollTop()" class="btn btn-icon"><i class="fa fa-angle-up fa-5x"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>@copyright</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <i class="fa fa-facebook-square p-1"></i>
            <i class="fa fa-google-plus-square p-1"></i>
            <i class="fa fa-linkedin-square p-1"></i>
            <i class="fa fa-pinterest-square p-1"></i>
            <i class="fa fa-reddit-square p-1"></i>
            <i class="fa fa-reddit-square p-1"></i>
        </div>
    </div>
</div>