<div class="row">
    <div *ngFor="let product of products" class="col-lg-4 col-md-6 col-sm-12">
        <div class="card" style="width: 100%; height: 500px">
            <img class="card-img-top img-fit" style="height: 300px;" [src]="product.imageUrl" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{product.title}}</h5>
              <p class="card-text">{{product.description}}</p>
                  <a [href]="product.link" class="btn btn-primary scale-100 btn-pill">See Product</a>
            </div>
          </div>
    </div>
</div>